/*____________animations & effects____________*/
/*_____________Waves effect_____________*/
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}
.waves {
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
}
/*_____________Stars effect_____________*/
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
/*_____________Logo carousel effect_____________*/
.slider {
  &::before,
  &::after {
    @include white-gradient;
    content: "";
    position: absolute;
    z-index: 2;
  }
  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  &::before {
    left: 0;
    top: 0;
  }
  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    img {
      margin: 1rem;
    }
  }
}
/*_____________Glitch effect_____________*/
.portaglitch {
  pointer-events:none;
}
.glitc {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 0;
}
.glitch {
  @extend .glitc;
  background-repeat: no-repeat;
  width: 100%;
  height: auto;
}
.glitched {
  @extend .glitch;
  background: url(../img/BrandKentNah.png);
  width: 508px;
  height: 600px;
}
.glitch:before {
  @extend .glitc;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  height: auto;
  background: url(../img/spacefaceTest.png);
  opacity: 0.5;
  mix-blend-mode: hard-light;
  animation: glitch2 10s linear infinite;
}
.glitched:before {
  @extend .glitch:before;
  background: url(../img/BrandKentNah.png);
  width: 508px;
  height: 600px;
}
.glitch:hover:before,
.glitched:hover:before {
  animation: glitch1 1s linear infinite;
}
@keyframes glitch1 {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  10% {
    background-position: 5px 0;
  }
  20% {
    background-position: -5px 0;
  }
  30% {
    background-position: 15px 0;
  }
  40% {
    background-position: -5px 0;
  }
  50% {
    background-position: -25px 0;
  }
  60% {
    background-position: -50px 0;
  }
  70% {
    background-position: 0 -20px;
  }
  80% {
    background-position: -60px -20px;
  }
  81% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 0;
    filter: hue-rotate(360deg);
  }
}
@keyframes glitch2 {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  10% {
    background-position: 15px 0;
  }
  15% {
    background-position: -15px 0;
  }
  20% {
    filter: hue-rotate(360deg);
  }
  25% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  100% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
}
/*_____________Colorfull effect_____________*/
$animation-name: colors;
$stops: (
  16.66%: $primary-color,
  33.33%: $secondary-color,
  50%: $primary-color-cta,
  66.66%: $primary-color-contacts,
  83.33%: $secondary-color,
  100%: $primary-color,
);
@mixin keyframe-generator($map, $name) {
  @keyframes #{$name} {
    @each $key, $value in $map {
      #{$key} {
        background: $value;
      }
    }
  }
}
@include keyframe-generator($stops, $animation-name);
.multicolorbody {
  width: 100%;
  height: 100vh;
  background: $primary-color;
  animation: $animation-name 12s linear infinite;
}
/*_____________Prices effect_____________*/
.item {
  .summary {
    padding: 20px;
    margin-bottom: 20px;
    z-index: -1;
  }
}
.total {
  font-size: 4em;
  text-align: center;
  line-height: 65px;
  z-index: 1;
}
.prices-container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  margin: 2rem;
}
.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}
.back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}
.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}
.prices-container:hover .front,
.prices-container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}
.prices-container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.prices-container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.prices-container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.prices-container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}
.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #c6d4df;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}
.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}
