/*____________animations & effects____________*/
#canvas {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}
.waves {
  width: 100%;
  height: 15vh;
  min-height: 100px;
  max-height: 150px;
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(0.55, 0.5, 0.45, 0.5) infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
@mixin white-gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  &::before,
  &::after {
    @include white-gradient;
    content: "";
    position: absolute;
    z-index: 2;
  }
  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  &::before {
    left: 0;
    top: 0;
  }
  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    img {
      margin: 1rem;
    }
  }
}
.glitc {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-repeat: no-repeat;
  z-index: -1;
}
.glitch {
  @extend .glitc;
  background: url(../img/cvnah.png);
  width: 332px;
  height: 180px;
}
.glitched {
  @extend .glitch;
  background: url(../img/BrandKentNah.png);
  width: 508px;
  height: 600px;
}
.glitch:before {
  @extend .glitc;
  content: "";
  width: 332px;
  height: 180px;
  background: url(../img/cvnah.png);
  background-size: auto;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  animation: glitch2 10s linear infinite;
}
.glitched:before {
  @extend .glitch:before;
  background: url(../img/BrandKentNah.png);
  width: 508px;
  height: 600px;
}

.glitch:hover:before,
.glitched:hover:before {
  animation: glitch1 1s linear infinite;
}

@keyframes glitch1 {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  10% {
    background-position: 5px 0;
  }
  20% {
    background-position: -5px 0;
  }
  30% {
    background-position: 15px 0;
  }
  40% {
    background-position: -5px 0;
  }
  50% {
    background-position: -25px 0;
  }
  60% {
    background-position: -50px 0;
  }
  70% {
    background-position: 0 -20px;
  }
  80% {
    background-position: -60px -20px;
  }
  81% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 0;
    filter: hue-rotate(360deg);
  }
}

@keyframes glitch2 {
  0% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  10% {
    background-position: 15px 0;
  }
  15% {
    background-position: -15px 0;
  }
  20% {
    filter: hue-rotate(360deg);
  }
  25% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
  100% {
    background-position: 0 0;
    filter: hue-rotate(0deg);
  }
}
$animation-name: colors;
$stops: (
  16.66%: $primary-color,
  33.33%: $secondary-color,
  50%: $primary-color-cta,
  66.66%: $primary-color-contacts,
  83.33%: $secondary-color,
  100%: $primary-color,
);
@mixin keyframe-generator($map, $name) {
  @keyframes #{$name} {
    @each $key, $value in $map {
      #{$key} {
        background: $value;
      }
    }
  }
}
@include keyframe-generator($stops, $animation-name);
.multicolorbody {
  width: 100%;
  height: 100vh;
  background: $primary-color;
  animation: $animation-name 12s linear infinite;
}