/*____________9.Footer____________*/
footer ul {
    margin-bottom: 1.5rem;
}
footer img {
    width: 6rem;
    margin: 0.2rem 0;
} 
footer .container-fluid .container a,
footer .container-fluid .container p,
footer .container-fluid .container h3, 
footer .container-fluid .container .fab {
    color: rgb(65, 65, 65);
}
.copyright {
    text-align: center;
    margin: 1rem;
}