/*____________9.Footer____________*/
footer {
    padding-top: 5rem;
    ul {
        margin-bottom: 1.5rem;
    }
    img {
        width: 6rem;
        margin: 0.2rem 0;
    }
    .container-fluid .container {
        a, p, h3, .fab {
            color: rgb(65, 65, 65);
        }
    }
}
.copyright {
    text-align: center;
    margin: 1rem;
}