/*____________10.Mediaqueries & Grids____________*/
/* No media query for `xs` since this is the default in Bootstrap */
/* X-Small devices (portrait phones, less than 576px) */
@mixin mobile {
    .cv-left {text-align: left; padding: 0.5rem 0.5rem;} .brandKent {position: absolute; z-index:3; bottom: 0; right:-35%; width: 60%;} .brandKent img {width: 60%;}  
    #navbarSupportedContent {background: rgba(141, 141, 141, 0.226); backdrop-filter: saturate(180%) blur(10px); border-radius: 1rem; padding: 1rem;}
}
@media (max-width: 575px) {
    @include mobile;
    .cvContainer {display: grid; grid-template-columns: 100% 100% 100% 100%; grid-template-areas: "cv-left""cv-center""cv-friends""cv-right";}
    .mainFacemenu img {width: 100%;}
}
/* Small devices (landscape phones, 576px and 767px) */
@media (min-width: 576px) and (max-width: 767px) {
    @include mobile;
    .cvContainer {display: grid; grid-template-columns: 100% 100% 100% 100%; grid-template-areas: "cv-left""cv-center""cv-friends""cv-right";}
    .mainFacemenu img {width: 100%;}
}
/* Medium devices (tablets, 768px and 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    @include mobile;
    .cvContainer {display: grid; grid-template-columns: 35% 65%; grid-template-rows: 40% 40% 20%; grid-template-areas: "cv-center cv-center""cv-left cv-right""cv-left cv-friends";}
    .brandKent img {width: 80%;} .mainFacemenu img {width: 110%;}
}
/* Large devices (desktops, 992px and 1199px) */
@media only screen and (min-width:992px) {
    .cvContainer {display: grid; grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%; grid-template-rows: 75% 25%; grid-template-areas: "cv-left cv-left cv-center cv-center cv-center cv-center cv-right cv-right""cv-left cv-left cv-friends cv-friends cv-friends cv-friends cv-friends cv-friends";}
    .cv-left {text-align: center; padding: 0.5rem 0.5rem;} .brandKent {position: absolute; z-index:3; bottom: 0; right: 22%;}
    .mainFacemenu img {width: 115%; margin-left: -6rem; margin-top: -6rem;} 
}
/* X-Large devices (large desktops, 1200px and 1399px) */
/* XX-Large devices (larger desktops, 1400px and up) */
.cv-left {grid-area: cv-left} .cv-center {grid-area: cv-center} .cv-right {grid-area: cv-right} .cv-friends {grid-area: cv-friends;}


