/*____________10.Mediaqueries & Grids____________*/
/* No media query for `xs` since this is the default in Bootstrap */
/* X-Small devices (portrait phones, less than 576px) */
/* Small devices (landscape phones, 576px and 767px) */
@media (min-width: 576px) and (max-width: 767px) {
    .cvContainer {display: grid; grid-template-rows: auto auto auto auto; grid-template-areas: "cvCenter""cvLeft""cvFriends""cvRight";}
    .cvLeft {text-align: left; padding: 0.5rem 0.5rem;} .brandKent {position: absolute; z-index:3;bottom: -1px; right:-50%;} .brandKent img {width: 50%;}
    .cvLeft {grid-area: cvLeft} .cvCenter {grid-area: cvCenter} .cvRight {grid-area: cvRight} .cvFriends {grid-area: cvFriends;}
}
/* Medium devices (tablets, 768px and 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .cvContainer {display: grid; grid-template-columns: 35% 65%; grid-template-rows: 40% 40% 20%; grid-template-areas: "cvCenter cvCenter""cvLeft cvRight""cvLeft cvFriends";}
    .cvLeft {text-align: left; padding: 0 0.5rem;} .brandKent {position: absolute; z-index:3;bottom: -1px; right:-35%;} .brandKent img {width: 80%;}
    .cvLeft {grid-area: cvLeft} .cvCenter {grid-area: cvCenter} .cvRight {grid-area: cvRight} .cvFriends {grid-area: cvFriends;}
}
/* Large devices (desktops, 992px and 1199px) */
@media only screen and (min-width:992px) {
    .cvContainer {display: grid; grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%; grid-template-rows: 75% 25%; grid-template-areas: "cvLeft cvLeft cvCenter cvCenter cvCenter cvRight cvRight cvRight""cvLeft cvLeft cvFriends cvFriends cvFriends cvFriends cvFriends cvFriends";}
    .cvLeft {text-align: center; padding: 0.5rem 0.5rem;} .brandKent {position: absolute; z-index:3; bottom: -1px; right: 22%;}
    .cvLeft {grid-area: cvLeft} .cvCenter {grid-area: cvCenter} .cvRight {grid-area: cvRight} .cvFriends {grid-area: cvFriends;}
}
/* X-Large devices (large desktops, 1200px and 1399px) */
/* XX-Large devices (larger desktops, 1400px and up) */

