/*[TABLE OF CONTENTS]
0. Standard CSS Reset  
1. Global Styles & animations
2. Header: logo, navbar, searchbar
3. Main: presentation, facemenu, Logcard
4. Projects 
5. Solutions
6. Contacts
7. Prices
8. Cv
9. Footer, copyright
10. Mediaqueries & Grids*/
/*____________0. Standard CSS Reset____________*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,
samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; list-style: none;
}
/*____________1. Global Styles & animations____________*/
@font-face {font-family: "microgramma"; src: url("../typography/Microgramma.otf");}
.fab {color: rgb(255, 255, 255); text-decoration: none; margin: 3px; font-size: 1rem; cursor: pointer; cursor: pointer;}
body {
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
}
h1 {
    font-size: 1.5em;
    font-weight: bold;
}
h2 {
    font-size: 1.2em;
    font-weight: 300;
}
p {
    font-size: 0.8em;
    margin: 1rem 0 1rem 0;
}
ul li a {
    text-decoration: none;
    color: white;
    font-size: 0.8em;
    margin: 0.5rem;
}
button {
    background-color: steelblue;
    color: white;
    border: none;
    width: 8rem;
    height: 2rem;
    text-align: center;
    font-size: 14px;
}
.container {
    justify-content: center; 
    padding: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.container h3 {
    font-size: 0.7em;
    font-weight: bold;
}
.container a, #navbarDropdown{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    margin: 0.5rem;
}
.container ul {
    padding-left: 0;
}
.container button {
    background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
    margin: 0.7rem 0;
    border-radius: 0.7rem;
}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    background-image: url(../img/background_space.png); background-repeat: no-repeat; background-position: top;
    border-radius: 0 0 1rem 1rem;
}
.dropdown-submenu {
    position:relative; 
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
/*____________animations____________*/
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
}
.waves {
    width: 100%;
    height:15vh;
    min-height:100px;
    max-height:150px;
}
.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}
@keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

/*_____________2.Header: logo, navbar, searchbar_____________*/
header {
    background-image: url(../img/background_space.png); background-repeat: no-repeat; background-position: top;
    height: 6rem;
    position: relative;
}
header .container img {
    width: 80%;
}
header .container input {
    border-radius: 2em;
    outline: solid rgba(255, 255, 255, 0.534);
    background-color: rgb(255, 255, 255);
    color: rgb(73, 73, 73);
    height: 1.2rem;
    font-weight: bold;
    font-size: 0.8em;
}
header .container-fluid .container a,
header .container-fluid .container p,
header .container-fluid .container h3, 
header .container-fluid .container .fab {
    color: rgb(65, 65, 65);
}
/*____________3.Main: presentation,facemenu,logcard____________*/
main {
    background-image: url(../img/background_space.png); background-repeat: no-repeat; background-position: top;
    height: 1080px;
    padding-top: 9rem;
}
.mainPresentation {
    overflow: visible;
}
.mainFacemenu {
    text-align: center;
}
.mainFacemenu a {
    text-decoration: none;
    color: white;
    font-family: "microgramma";
    font-size: 1.3rem;
}
.mainLogcard {
    background-image: linear-gradient(135deg, rgba(90, 107, 151, 0.432) 0%, rgba(15, 34, 49, 0.432) 100%);
    height: 100%;
    border-radius: 1rem; 
    text-align: center;
    padding: 1rem;
    filter: opacity(80);
}
/*____________4.Projects____________*/
.projects {
    height: 33.75rem;
    padding-top: 9rem;
}
/*____________5.Solutions____________*/
.solutions {
    height: 33.75rem;
    padding-top: 9rem;
}
/*____________6.Contacts____________*/
.contacts {
    background-color: rgba(255, 219, 206, 0.575);-webkit-box-shadow: 0px 0px 24px 5px rgba(0,0,0,0.75);-moz-box-shadow: 0px 0px 24px 5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.75);
    color: rgb(65, 65, 65);
    border-radius: 1rem; 
    margin: 5rem 0;  
    padding: 0.8rem 1.6rem;
}
.contacts-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: salmon;
    color: white;
    border-radius: 1rem;
    padding: 0.4rem 1.6rem;
}
.contacts-left iframe {
    width: 100%;
    height: 16rem;
    border-radius: 1rem;
}
.contacts-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.4rem 1.6rem;
}
.contacts-right .textInput input {
    width: 100%;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid salmon;
}
.contactsFluid {
    background: rgb(217,117,108); background: linear-gradient(90deg, rgba(217,117,108,1) 0%, rgba(255,189,167,1) 35%, rgba(255,243,182,1) 100%);
    color: rgb(65, 65, 65);
}
.container .btnContacts a button {
    background: salmon;
}
.logoFilter {
    filter: invert(75%);
}
/*____________7.Prices____________*/
.prices {
    height: 33.75rem;
    padding-top: 9rem;
}
/*____________8.Cv____________*/
.cv {
    height: 33.75rem;
    padding-top: 9rem;
}
/*____________9.Footer____________*/
footer ul {
    margin-bottom: 1.5rem;
}
footer img {
    width: 6rem;
    margin: 0.2rem 0;
} 
footer .container-fluid .container a,
footer .container-fluid .container p,
footer .container-fluid .container h3, 
footer .container-fluid .container .fab {
    color: rgb(65, 65, 65);
}
.copyright {
    text-align: center;
    margin: 1rem;
}
/*____________10.Mediaqueries & Grids____________*/
/* No media query for `xs` since this is the default in Bootstrap */
/* X-Small devices (portrait phones, less than 576px) */
/* Small devices (landscape phones, 576px and 767px) */
/* Medium devices (tablets, 768px and 991px) */
@media (min-width: 1px) and (max-width: 991px) {
    header .navbar-nav {
        background-image: url(../img/background_space.png); background-repeat: no-repeat; background-position: top;
        border-radius: 0 0 1rem 1rem;
    }
}
/* Large devices (desktops, 992px and 1199px) */
/* X-Large devices (large desktops, 1200px and 1399px) */
/* XX-Large devices (larger desktops, 1400px and up) */

