/*[TABLE OF CONTENTS]
0. Standard CSS Reset  
1. Global Styles
2. Header & flexbox: logo, navbar, searchbar
3. Main & flexbox: presentation, facemenu, Logcard
4. Projects 
5. Solutions
6. Contacts
7. Prices
8. Cv
9. Footer & flexbox: col1-5, copyright
10. Mediaqueries & Grids*/
/*____________0. Standard CSS Reset____________*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,
pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,
samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,
fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,
article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,
menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; list-style: none;
}
/*____________1. Global Styles____________*/
body {
    background: linear-gradient(90deg, rgba(8,1,113,1) 0%, rgba(20,97,182,1) 65%, rgba(11,101,110,1) 100%);
}
.container {
    font-family: 'Montserrat', sans-serif;
    color: white;
}
.container a, #navbarDropdown{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 0.8em;
    margin: 0.5rem;
}
.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
    background-image: url(../img/background_space.png); background-repeat: no-repeat; background-position: top;
    border-radius: 0 0 1rem 1rem;
}
.dropdown-submenu {
    position:relative; 
}
.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 
#canvas {
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
  }
/*_____________2.Header: logo, navbar, searchbar_____________*/
header {
    background-image: url(../img/background_space.png); background-repeat: no-repeat; background-position: top;
    height: 4rem;
}
header .container img {
    width: 80%;
}
header .container input {
    border-radius: 2em;
    outline: solid rgba(255, 255, 255, 0.534);
    background-color: rgb(255, 255, 255);
    color: rgb(73, 73, 73);
    height: 1.2rem;
    font-weight: bold;
    font-size: 0.8em;
}
/*____________3.Main: presentation,facemenu,logcard____________*/
main {
    background-image: url(../img/background_space2.png); background-repeat: no-repeat; background-position: top;
    height: 1080px;
    padding-top: 4rem;
}
/*____________4.Projects____________*/

/*____________5.Solutions____________*/

/*____________6.Contacts____________*/

/*____________7.Prices____________*/

/*____________8.Cv____________*/

/*____________9.Footer____________*/

/*____________10.Mediaqueries & Grids____________*/
/* No media query for `xs` since this is the default in Bootstrap */
/* X-Small devices (portrait phones, less than 576px) */
/* Small devices (landscape phones, 576px and up) */
/* @media only screen and (min-width:276px) and (max-width:767px) {
    .gridContainer {display: grid; grid-template-rows: 3rem 42rem repeat(6, 45rem); grid-template-areas: "header""main""projects""solutions""contacts""cv""budget""footer";}
    header .container {display: grid; grid-template-rows: 20% 60% 20%; grid-template-areas: "headerContainer--menu headerContainer--searchbar headerContainer--logo";} .container nav {display: none;}
    main .container {display: grid; grid-template-areas: "mainContainer--presentation" "mainContainer--facemenu" "mainContainer--logcard"; grid-template-rows: 5% 55% 40%; flex-direction: column;  align-content: stretch; justify-content: space-between; align-items: center;  justify-items: center}
    .projectsContainer {display: grid; grid-template-columns: 1fr; grid-template-rows: auto auto auto auto auto auto; grid-template-areas:"proj-1""proj-2""proj-3""proj-4""proj-5""proj-6";}
    .solutionsContainer {display: grid; grid-template-columns: 1fr; grid-template-rows: auto auto auto auto auto auto; grid-template-areas:"sol-1""sol-2""sol-3""sol-4""sol-5""sol-6";}
    .contactsContainer {display: grid; grid-template-rows: repeat(2, 50%); grid-template-areas: "contactsContainer--right" "contactsContainer--left";}
    footer .container {display: grid; grid-template-columns: repeat(3, 33.33%); grid-template-rows: 18rem 18rem 2rem; grid-template-areas: "col-1 col-2 col-3" "col-4 col-4 col-5""copyright copyright copyright"; align-items: start;} 
}*/
/* @media (min-width: 576px) and (max-width: 767px){}  */
/* Medium devices (tablets, 768px and up) */
/* @media only screen and (min-width:768px) and (max-width:991px) {
    .gridContainer {display: grid; grid-template-columns: repeat(2, 50%); grid-template-rows: 4rem 63.5rem repeat(3, 33.75rem) 26rem; grid-template-areas: "header header""main main""projects solutions""contacts contacts""cv budget""footer footer";}
    header .container {display: grid; grid-template-rows: 20% 40% 40%; grid-template-areas: "headerContainer--logo headerContainer--searchbar headerContainer--menu";} .container .fa {display: none;}
    main .container {display: grid; grid-template-areas: "mainContainer--presentation mainContainer--facemenu mainContainer--logcard"; grid-template-columns: 20% 60% 20%; align-content: stretch; justify-content: start; align-items: center;  justify-items: center;}
    .projectsContainer {display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto auto auto; grid-template-areas:"proj-1 proj-2""proj-3 proj-4""proj-5 proj-6";}
    .solutionsContainer {display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto auto auto; grid-template-areas:"sol-1 sol-2""sol-3 sol-4""sol-5 sol-6";}
    .contactsContainer {display: grid; grid-template-rows: repeat(2, 50%); grid-template-areas: "contactsContainer--right" "contactsContainer--left";}
    footer .container {display: grid; grid-template-columns: repeat(5, 20%); grid-template-rows: 18rem 2rem; grid-template-areas: "col-1 col-2 col-3 col-4 col-5""copyright copyright copyright copyright copyright"; align-items: start;} 
}*/
@media (min-width: 99px) and (max-width: 991px) {
    header .navbar-nav {
        background-image: url(../img/background_space.png); background-repeat: no-repeat; background-position: top;
        border-radius: 0 0 1rem 1rem;
    }
}
/* Large devices (desktops, 992px and up) */
/* @media only screen and (min-width:992px) {
    .gridContainer {display: grid; grid-template-columns: repeat(2, 50%); grid-template-rows: 4rem 63.5rem repeat(3, 33.75rem) 26rem; grid-template-areas: "header header""main main""projects solutions""contacts contacts""cv budget""footer footer";}
    header .container {display: grid; grid-template-rows: 20% 60% 20%; grid-template-areas: "headerContainer--logo headerContainer--menu headerContainer--searchbar";} .container .fa {display: none;}
    main .container {display: grid; grid-template-areas: "mainContainer--presentation mainContainer--facemenu mainContainer--logcard"; grid-template-columns: 20% 60% 20%; align-content: stretch; justify-content: start; align-items: center;  justify-items: center;}
    .projectsContainer {display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: auto auto; grid-template-areas:"proj-1 proj-2 proj-3""proj-4 proj-5 proj-6";}
    .solutionsContainer {display: grid; grid-template-rows: repeat(6,16.66%); grid-template-areas:"sol-1 sol-2 sol-3 sol-4 sol-5 sol-6";}
    .contactsContainer {display: grid; grid-template-columns: repeat(3, 33.33%); grid-template-areas: "contactsContainer--left contactsContainer--right contactsContainer--right";}
    .cvContainer {display: grid; grid-template-columns: repeat(5, 20%); grid-template-rows: auto auto; grid-template-areas: "cv-left cv-center cv-center cv-right cv-right""cv-left logofriends logofriends logofriends logofriends"; grid-gap: 1rem;}
    footer .container {display: grid; grid-template-columns: repeat(5, 20%); grid-template-rows: 18rem 2rem; grid-template-areas: "col-1 col-2 col-3 col-4 col-5""copyright copyright copyright copyright copyright"; align-items: start;} 
}*/
/* X-Large devices (large desktops, 1200px and 1399px)  */
/* XX-Large devices (larger desktops, 1400px and up) */
/* header {grid-area: header;} main {grid-area: main;} .projects {grid-area: projects;} .solutions {grid-area: solutions;} .contacts {grid-area: contacts;} .cv {grid-area: cv;} .prices {grid-area: prices;} .budget {grid-area: budget;} footer {grid-area: footer; height: 28rem;} .container {grid-area: container;} 
    .headerContainer--menu {grid-area: headerContainer--menu;} .headerContainer--logo{grid-area: headerContainer--logo;} .col-1 {grid-area: col-1;} .col-2 {grid-area: col-2;} .col-3 {grid-area: col-4;} .col-3 {grid-area: col-4;} .col-5 {grid-area: col-5;} .copyright {grid-area: copyright;}
    .mainContainer {grid-area: mainContainer;} .mainContainer--presentation {grid-area: mainContainer--presentation;} .mainContainer--facemenu {grid-area: mainContainer--facemenu;} .mainContainer--logcard {grid-area: mainContainer--logcard;}
    .proj-1 {grid-area: proj-1;} .proj-2 {grid-area: proj-2;} .proj-3 {grid-area: proj-3;} .proj-4 {grid-area: proj-4;} .proj-5 {grid-area: proj-5;} .proj-6 {grid-area: proj-6;} .sol-1 {grid-area: sol-1;} .sol-2 {grid-area: sol-2;} .sol-3 {grid-area: sol-3;} .sol-4 {grid-area: sol-4;} .sol-5 {grid-area: sol-5;} .sol-6 {grid-area: sol-6;}
    .contactsContainer--left {grid-area: contactsContainer--left;} .contactsContainer--right {grid-area: contactsContainer--right;} */